@using SEDC.PizzaApp.Models.ViewModels
@model List<OrderViewModel>

<h2>List of orders:</h2>

<ol>
    @for (int i = 0; i < @Model.Count; i++)
    {
        <li>@Model.ElementAt(i).PizzaName - @Model.ElementAt(i).UserFullName - @Model.ElementAt(i).Price</li>   
    }
</ol>