@{
    ViewData["Title"] = "About Us";
}

<h1>About Us</h1>
<p>Welcome to our burger place! We are committed to providing the best burgers in town. Our ingredients are fresh, our recipes are delicious, and our service is top-notch. Come and enjoy our mouthwatering burgers today!</p>
